/** Initial common reset **/

* {
  box-sizing: border-box;
}

body,
div,
ul,
li,
nav,
form,
input,
header,
footer,
main,
a {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  text-align: center;
  min-height: 100vh;
}

nav,
ul {
  list-style: none;
}

p,
a {
  text-align: center;
}

a {
  text-decoration: none;
}

input {
  font-family: inherit;
  outline: none;
}

input::placeholder {
  color: #8b572a;
  font-size: 20px;
}

.full-width {
  width: 100%
}

.pointer {
  cursor:pointer;
}

.radius-100 {
  border-radius: 100%;
}

.radius-50 {
  border-radius: 50%;
}

.rowFlexBox {
  display: flex;
  flex-direction: row;
}

.columnFlexBox {
  display: flex;
  flex-direction: column;
}

.flex-no-wrap {
  flex-wrap: nowrap;
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-space-evenly {
  justify-content: space-evenly;
}

.flex-space-center {
  justify-content: center;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-align-center {
  align-items: center;
}

.flexItem-evenly {
  flex: 1;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.margin-block-none {
  margin-block-start: 0;
  margin-block-end: 0;
}

.margin-horizontal-center {
  margin-left: auto;
  margin-right: auto;
}

.tx-brown {
  color: #8b572a;
}

.bg-brown {
  background-color: #8b572a;
}

.tx-white {
  color: white;
}

.bg-white {
  background-color: white;
}

.tx-grey {
  color: grey;
}

.tx-grey82 {
  color: #828282;
}

.tx-black {
  color: black;
}

.tx-lightgrey {
  color: lightgrey;
}

.bg-dark {
  background-color: #313538;
}

.tx-size20 {
  font-size: 20px;
}

/** Header **/

.headerWrapper {
  max-height: 140px;
}

.searchLogo {
  top: 14px;
  right: 16px;
  width: 40px;
  height: 40px;
}

.searchLogo img {
  width: 40px;
  height: 40px;
}

.logo {
  width: 129px;
  height: 24px;
  margin-top: 14px;
  margin-bottom: 14px;
}

.topNav {
  padding: 12px 0 12px 0;
  height: 50px;
}

.headerBottom {
  bottom: 0;
  left: 0;
  height: 60px;
}

.bottomNav {
  padding: 8px 0 8px 0;
}

.cartCounter {
  height: 24px;
  width: 24px;
  place-items: center;
  right: 0px;
  bottom: 3px;
}

.nav-icon {
  width: 44px;
  height: 44px;
  background-size: cover;
  transition: background-image 0.3s ease;
}

.profileImage {
  background-image: url("../../public/member-mobile.png");
}

.cartImage {
  background-image: url("../../public/cart-mobile.png");
}

/** main **/

.carousel-image {
  height: 185px;
  object-fit: cover;
}

.carouselText {
  line-height: 28px;
  left: 23px;
  top: 36px;
}

.carouselText p {
  font-size: 15px;
}

.carouselText h4 {
  font-size: 12px;
}

.dotsContainer {
  width: 55.2px;
  bottom: 18px;
  left: 50%;
  transform: translateX(-50%)
}

.dot {
  width: 4px;
  height: 4px;
}

/** footer **/

footer {
  bottom: 0;
  margin-bottom: 60px;
}

footer a {
  width: 20px;
  height: 20px;
}

.footerWrapper {
  height: 146px;
  padding-top: 23px;
  padding-bottom: 20px;
}

.footerWrapper span {
  font-size: 10px;
}

.footerContentBox {
  width: 296px;
  height: 76px;
  font-size: 14px;
}

.footerContentBox div a img {
  width: 20px;
  height: 20px;
}

.fcBoxItems {
  justify-content: flex-start;
  gap: 8px;
  align-items: start;
}

.socialMediaIcons {
  gap: 14px;
  margin-top: 18px;
}

.mobile-hide {
  display: none;
}

/* ================================= 
Media Queries
==================================== */

@media (min-width: 1280px) {

  /** common **/
  .wider-hide {
    display: none;
  }

  .wider-show {
    display: initial;
  }

  .wider-rowFlexBox {
    display: flex;
    flex-direction: row;
  }
  
  .wider-columnFlexBox {
    display: flex;
    flex-direction: column;
  }

  .wider-absolute {
    position: absolute;
  }

  .wider-tx-brown {
    color: #8b572a;
  }

  .wider-bg-white {
    background-color: rgba(255,255,255,0.4);
  }

  .wider-tx-black3a{
    color: #3f3a3a;
  }

  .wider-tx-whitesmoke {
    color: whitesmoke;
  }

  .wider-tx-black07{
    color: #070707;
  }

  .wider-tx-size20 {
    font-size: 20px
  }

  /** header **/

  .headerWrapper {
    gap: 20px;
    border-bottom: 40px #313538 solid;
    padding: 26px 56px 26px 60px;
  }

  .topNavWrapper {
    margin-left: 57px;
  }

  .logo {
    width: 258px;
    height: 48px;
    margin: 0;
  }

  .topNav {
    padding-bottom: 0;
    background-color: transparent;
    width: 451px;
  }

  .topNav li {
    align-self: flex-end;
    letter-spacing: 30px;
    margin-right:-30px;
  }

  .search-block {
    justify-content: flex-end;
  }

  .searchForm {
    justify-content: flex-start;
    border-radius: 20px;
    border: 1px #979797 solid;
    width: 214px;
    height: 44px;
    padding: 6px;
  }

  .search-field {
    border: none;
    padding-left: 14px;
    width: 150px;
    height: 25px;
  }

  .search-icon-button {
    width: 44px;
    height: 44px;
    background: transparent url("../../public/search.png") no-repeat center
      center;
    background-size: contain;
    border: none;
    align-self: center;
  }

  .cartURL,
  .profileURL {
    margin-left: 22px;
  }

  .profileImage {
    background-image: url("../../public/member.png");
  }

  .cartImage {
    background-image: url("../../public/cart.png");
  }

  .cartImage:hover {
    background-image: url("../../public/cart-hover.png");
  }

  .profileImage:hover {
    background-image: url("../../public/member-hover.png");
  }

  /** Footer **/

  footer {
    margin-bottom: 0;
  }

  .footerWrapper {
    height: 115px;
    max-width: 1160px;
    padding-top: 0;
    padding-bottom: 0;
    justify-content: flex-end;
    gap: 30px;
  }

  .footerContentBox {
    height: auto;
    width: auto;
    gap: 101px;
    font-size: 16px;
  }

  .spreadContent {
    width: 670px;
  }

  .socialMediaIcons {
    margin-top: 0;
    gap: 30px;
  }

  .footerWrapper span {
    font-size: 12px;
  }

  footer a,
  .footerContentBox div a img {
    width: 50px;
    height: 50px;
  }

  .fcBoxItems {
    justify-content: space-evenly;
    align-items: center;
  }

  /** main **/

  .carousel-image {
    height: 500px;
    object-fit: none;
  }

  .carouselTextContainer {
    max-width: 1160px;
    height: 500px;
    top: 0;
    margin: 0 auto;
  }

  .carouselText {
    top: 166px;
  }
  
  .carouselText p {
    font-size: 30px;
    line-height: 57px;
  }
  
  .carouselText h4 {
    line-height: 64px;
  }

  .dotsContainer {
    width: 138px;
  }
  
  .dot {
    width: 10px;
    height: 10px;
  }
}
