* {
  box-sizing: border-box;
}

body,
div,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
form,
input,
p,
header {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  color: #fff;
  text-align: center;
  min-height: 100vh;
}

nav,
ul {
  list-style: none;
}

p,
a {
  text-align: center;
}

a {
  text-decoration: none;
  color: #fff;
}

/* Header */

header {
  width: 100%;
}

.searchLogo {
  position: fixed;
  top: 14px;
  right: 16px;
  width: 40px;
  height: 40px;
}

.searchLogo img {
  width: 40px;
  height: 40px;
}

.headerWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  max-height: 140px;
  width: 100%;
}

#logo {
  width: 129px;
  height: 24px;
  margin-top: 14px;
  margin-bottom: 14px;
}

#topNav,
#bottomNav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #313538;
  align-items: center;
}

.logowrapper,
.topNavWrapper {
  width: 100%;
}

#topNav {
  padding: 12px 0 12px 0;
  height: 50px;
}

.headerBottom {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 60px;
  width: 100%;
}

#bottomNav {
  padding: 8px 0 8px 0;
}

.bottomListItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cartURL,
.profileURL {
  cursor: pointer;
  position: relative;
}

.cartCounter {
  position: absolute;
  background: #8b572a;
  height: 24px;
  width: 24px;
  border-radius: 100%;
  place-items: center;
  color: white;
  font-size: 16px;
  right: 0px;
  bottom: 3px;
}

.cartText {
  margin-left: 2px;
}

#bottomProfileImage,
.profileImage {
  width: 44px;
  height: 44px;
  background-image: url("../../public/member-mobile.png");
  background-size: cover;
  transition: background-image 0.3s ease;
}

#bottomCartImage,
.cartImage {
  width: 44px;
  height: 44px;
  background-image: url("../../public/cart-mobile.png");
  background-size: cover;
  transition: background-image 0.3s ease;
}

.notSelected,
.nav-split {
  color: #828282;
}

.growOne {
  flex-grow: 1;
}

input {
  font-family: inherit;
  color: #8b572a;
  font-size: 20px;
  outline: none;
}

input::placeholder {
  color: #8b572a;
  font-size: 20px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #313538;
  margin-bottom: 60px;
  color: #d3d3d3;
}

footer a {
  color: #d3d3d3;
  width: 20px;
  height: 20px;
}

.footerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 146px;
  padding-top: 23px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.footerWrapper span {
  font-size: 10px;
  color: #828282;
}

.footerContentBox {
  display: flex;
  flex-direction: row;
  width: 296px;
  height: 76px;
  justify-content: space-between;
  font-size: 14px;
  position: relative;
}

.footerContentBox div a img {
  width: 20px;
  height: 20px;
}

.fcBoxItems {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
  align-items: start;
}

.socialMediaIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 14px;
  margin-top: 18px;
}

.nav-split {
  color: #808080;
}

.mobileHide {
  display: none;
}

/* ================================= 
Media Queries
==================================== */

@media (min-width: 1280px) {
  
  .widerHide {
    display: none;
  }
  
  .mobileHide {
    display: initial;
  }

  .headerWrapper {
    flex-direction: row;
    gap: 20px;
    border-bottom: 40px #313538 solid;
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 60px;
    padding-right: 56px;
  }

  .topNavWrapper {
    margin-left: 57px;
  }

  .logowrapper {
    display: flex;
  }

  #logo {
    width: 258px;
    height: 48px;
    margin: 0;
  }

  #topNav {
    padding-bottom: 0;
    background-color: transparent;
    width: 451px;
  }

  #topNav li {
    align-self: flex-end;
    font-size: 20px;
    letter-spacing: 30px;
    justify-items: center;
    text-align: center;
  }

  #topNav li a {
    color: #8b572a;
    text-align: center;
  }

  #topNav .notSelected,
  #topNav .nav-split {
    color: #3f3a3a;
  }

  .search-block {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .searchForm {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    border-radius: 20px;
    border: 1px #979797 solid;
    width: 214px;
    height: 44px;
    padding: 6px;
    align-items: center;
  }

  .search-field {
    border: none;
    padding-left: 5px;
    width: 150px;
    height: 25px;
  }

  .search-icon-button {
    width: 44px;
    height: 44px;
    background: transparent url("../../public/search.png") no-repeat center center;
    background-size: contain;
    cursor: pointer;
    border: none;
    align-self: center;
  }

  .topNavText a {
    /* letter-spacing: 30px; */
    text-align: center;
  }

  .cartURL,
  .profileURL {
    margin-left: 22px;
  }

  .profileImage {
    background-image: url("../../public/member.png");
  }

  .cartImage {
    background-image: url("../../public/cart.png");
  }

  .cartImage:hover {
    background-image: url("../../public/cart-hover.png");
  }

  .profileImage:hover {
    background-image: url("../../public/member-hover.png");
  }

  footer {
    margin-bottom: 0;
  }

  .footerWrapper {
    height: 115px;
    max-width: 1160px;
    padding-top: 0;
    padding-bottom: 0;
    flex-direction: row;
    justify-content:flex-end;
    gap: 30px;
  }

  .footerContentBox{
    height: auto;
    width: auto;
    gap: 101px;
    align-items: center;
    font-size: 16px;
    color: F5F5F5;
  }

  #spreadContent {
    flex-direction: row;
    display: flex;
    align-items: center;
    width: 670px;
    justify-content: space-evenly;
  }

  .socialMediaIcons{
    margin-top: 0;
    gap: 30px;
  }

  .footerWrapper span {
    font-size: 12px;
  }

  footer a, .footerContentBox div a img {
    width: 50px;
    height: 50px;
  }

}
