/** Initial common reset **/

* {
  box-sizing: border-box;
}

body,
div,
ul,
li,
nav,
form,
input,
header,
footer,
main,
a,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  text-align: center;
  min-height: 100vh;
}

nav,
ul {
  list-style: none;
}

p,
a {
  text-align: center;
}

a {
  text-decoration: none;
}

input {
  font-family: inherit;
  outline: none;
}

input::placeholder {
  color: #8b572a;
  font-size: 20px;
}

/** Common CSS setting **/

.full-width {
  width: 100%;
}

.pointer {
  cursor: pointer;
}

.radius-100 {
  border-radius: 100%;
}

.radius-50 {
  border-radius: 50%;
}

.row-flex {
  display: flex;
  flex-direction: row;
}

.column-flex {
  display: flex;
  flex-direction: column;
}

.flex-no-wrap {
  flex-wrap: nowrap;
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-space-evenly {
  justify-content: space-evenly;
}

.flex-space-center {
  justify-content: center;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-x-start {
  justify-content: flex-start;
}

.flex-x-end {
  justify-content: flex-end;
}

.flex-align-center {
  align-items: center;
}

.flex-item-evenly {
  flex: 1;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.margin-block-none {
  margin-block-start: 0;
  margin-block-end: 0;
}

.margin-horizontal-center {
  margin-left: auto;
  margin-right: auto;
}

.tx-brown {
  color: #8b572a;
}

.bg-brown {
  background-color: #8b572a;
}

.tx-white {
  color: white;
}

.bg-white {
  background-color: white;
}

.tx-grey {
  color: grey;
}

.tx-grey82 {
  color: #828282;
}

.tx-black {
  color: black;
}

.tx-lightgrey {
  color: lightgrey;
}

.bd-lightgrey {
  border-color: lightgrey;
}

.bg-dark {
  background-color: #313538;
}

.bg-lightgreen {
  background-color: #ddffbb;
}

.bg-greycc {
  background-color: #cccccc;
}

.tx-size20 {
  font-size: 20px;
}

.nav-icon {
  width: 44px;
  height: 44px;
  background-size: cover;
  transition: background-image 0.3s ease;
}

.grid {
  display: grid;
}

.top-layer {
  z-index: 999;
}

/** Header **/

.space-section-for-header {
  height: 102px;
}

.header__wrapper {
  height: 102px;
  top: 0;
}

.mobile-search {
  top: 6px;
  right: 16px;
  width: 40px;
  height: 40px;
}

.mobile-search__img {
  width: 40px;
  height: 40px;
}

.main-logo__img {
  width: 129px;
  height: 24px;
  margin-top: 14px;
  margin-bottom: 14px;
}

.category-nav__list {
  padding: 12px 0 12px 0;
  height: 50px;
}

.mobile-bottom-nav {
  bottom: 0;
  left: 0;
  height: 60px;
}

.mobile-bottom-nav__list {
  padding: 8px 0 8px 0;
}

.cart-link__counter {
  height: 24px;
  width: 24px;
  place-items: center;
  right: 0px;
  bottom: 0px;
}

.profile-link__image {
  background-image: url("../../public/member-mobile.png");
}

.cart-link__image {
  background-image: url("../../public/cart-mobile.png");
}

.header__right-section-wrapper {
  top: 6px;
  right: 10px;
}

.search-form {
  width: 214px;
  height: 40px;
  padding-left: 6px;
  padding-right: 6px;
}

.search-form__input {
  border: none;
  line-height: 24px;
  padding-left: 14px;
  width: 150px;
  height: 25px;
  visibility: hidden;
}

.search-form__submit {
  width: 40px;
  height: 40px;
  background: transparent url("../../public/search.png") no-repeat center center;
  background-size: contain;
  border: none;
  align-self: center;
}

/** after search icon was clicked */

.header__right-section-wrapper--clicked {
  top: 6px;
  right: 10px;
  width: 100%;
}

.search-container--clicked {
  background-color: white;
  width: inherit;
  justify-content: flex-start;
  margin-left: 20px;
}

.search-form--clicked {
  width: inherit;
  height: 40px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 20px;
  border: 1px #979797 solid;
  gap: 5px;
}

.search-form__input--clicked {
  border: none;
  line-height: 24px;
  padding-left: 14px;
  width: 150px;
  height: 25px;
  visibility: unset;
  flex-grow: 1;
}

/** main **/

.campaignItem__image {
  height: 185px;
  object-fit: cover;
}

.campaignItem__story {
  line-height: 28px;
  left: 23px;
  top: 36px;
}

.campaignItem__story-description {
  font-size: 15px;
}

.campaignItem__story-quote {
  font-size: 12px;
}

.carousel__dots-container {
  gap: 8.8px;
  bottom: 18px;
  left: 50%;
  transform: translateX(-50%);
}

.carousel__dot {
  width: 4px;
  height: 4px;
}

.loading-gif {
  display: block;
  margin: 490px auto;
  width: 64px;
  height: 64px;
  background: url("../../public/loading.gif") center/cover no-repeat;
}

.keyword-not-exist {
  display: block;
  margin: 50px auto;
  max-width: 100%;
  height: auto;
}

.keyword-not-exist__img {
  width: 100%;
}

.product-list {
  padding: 15px 24px 47px 24px;
  column-gap: 6px;
  row-gap: 24px;
  grid-template-columns: repeat(2, calc(50% - 3px));
}

.product-item {
  height: auto;
  min-height: 270px;
  min-width: 153px;
  gap: 8px;
}

.product-item__color-container {
  width: 48px;
  margin-bottom: 2px;
  gap: 6px;
}

.product-item__color-grid {
  width: 12px;
  height: 12px;
  border-style: solid;
  border-width: 1px;
}

.product-item__title,
.product-item__price {
  font-size: 12px;
  text-align: left;
  letter-spacing: 2.4px;
}

/** footer **/

.footer {
  bottom: 0;
  margin-bottom: 60px;
}

.footer__socialmedia-link {
  width: 20px;
  height: 20px;
}

.footer__wrapper {
  height: 146px;
  padding-top: 23px;
  padding-bottom: 20px;
}

.footer__copyright-text {
  font-size: 10px;
  transform: scale(0.833);
}

.footer__link-container {
  width: 296px;
  height: 76px;
  font-size: 14px;
}

.footer__socialmedia-img {
  width: 20px;
  height: 20px;
}

.footer__linklist {
  row-gap: 8px;
  column-gap: 36px;
  align-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  width: 177px;
  height: 76px;
}

.footer__link-item {
  line-height: 20px;
}

.footer__socialmedia {
  gap: 14px;
  margin-bottom: 10px;
}

.mobile-hide {
  display: none;
}

/* ================================= 
Scroll Loader
==================================== */

.scroll-loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  opacity: 1;
}

.scroll-loader div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  animation: scroll-loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.scroll-loader div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}

.scroll-loader div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}

.scroll-loader div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}

@keyframes scroll-loader {
  0% {
    top: 8px;
    height: 64px;
  }

  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}

/* =================================
Carousel Fading
==================================== */

.fade {
  animation-name: fade;
  animation-duration: 2.5s;
}

@keyframes fade {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

/* ================================= 
Media Queries
==================================== */

@media (min-width: 1280px) {
  /** Wider Common CSS setting **/
  .wider-hide {
    display: none;
  }

  .wider-show {
    display: initial;
  }

  .wider-row-flex {
    display: flex;
    flex-direction: row;
  }

  .wider-column-flex {
    display: flex;
    flex-direction: column;
  }

  .wider-flex-item-evenly {
    flex: 1;
  }

  .wider-flex-x-end {
    justify-content: flex-end;
  }

  .wider-absolute {
    position: absolute;
  }

  .wider-position-unset {
    position: unset;
  }

  .wider-tx-brown {
    color: #8b572a;
  }

  .wider-bg-white {
    background-color: rgba(255, 255, 255, 0.4);
  }

  .wider-tx-black3a {
    color: #3f3a3a;
  }

  .wider-tx-whitesmoke {
    color: whitesmoke;
  }

  .wider-tx-black07 {
    color: #070707;
  }

  .wider-tx-size20 {
    font-size: 20px;
  }

  /** header **/

  .space-section-for-header {
    height: 140px;
  }

  .header__wrapper {
    height: 140px;
    gap: 14px;
    border-bottom: 40px #313538 solid;
    padding: 26px 54px 26px 60px;
    justify-content: space-between;
  }

  .category-nav {
    margin-left: 57px;
  }

  .header__left-section-wrapper {
    width: unset;
  }

  .main-logo__img {
    width: 258px;
    height: 48px;
    margin: 0;
  }

  .category-nav__list {
    padding-bottom: 0;
    background-color: transparent;
    width: 451px;
  }

  .category-nav__list li {
    letter-spacing: 30px;
    margin-right: -30px;
  }

  .header__right-section-wrapper {
    gap: 42px;
  }

  .search-form {
    width: 214px;
    height: 44px;
    padding-right: 10px;
    border: 1px #979797 solid;
    border-radius: 20px;
  }

  .search-form__input {
    visibility: unset;
  }

  .search-form__submit {
    width: 44px;
    height: 44px;
  }

  .mobile-bottom-nav__icon {
    margin-left: 22px;
  }

  .cart-link__image {
    background-image: url("../../public/cart.png");
  }

  .cart-link__image:hover {
    background-image: url("../../public/cart-hover.png");
  }

  .profile-link__image {
    background-image: url("../../public/member.png");
  }

  .profile-link__image:hover {
    background-image: url("../../public/member-hover.png");
  }

  /** Footer **/

  .footer {
    margin-bottom: 0;
  }

  .footer__wrapper {
    height: 115px;
    max-width: 1160px;
    padding-top: 0;
    padding-bottom: 0;
    gap: 30px;
  }

  .footer__link-container {
    height: auto;
    width: auto;
    gap: 101px;
    font-size: 16px;
  }

  .footer__linklist {
    width: 670px;
    height: 22px;
    align-content: center;
    gap: 0px;
    justify-content: unset;
  }

  .footer__link-item {
    line-height: 22px;
  }

  .footer__socialmedia {
    margin-top: 0;
    margin-bottom: 0;
    gap: 30px;
  }

  .footer__copyright-text {
    font-size: 12px;
    transform: none;
  }

  .footer__socialmedia-link,
  .footer__socialmedia-img {
    width: 50px;
    height: 50px;
  }

  /** main **/

  .campaignItem__image {
    height: 500px;
    object-fit: none;
  }

  .campaignItem__story-container {
    max-width: 1160px;
    height: 500px;
    top: 0;
    margin: 0 auto;
  }

  .campaignItem__story {
    top: 166px;
  }

  .campaignItem__story-description {
    font-size: 30px;
    line-height: 57px;
  }

  .campaignItem__story-quote {
    line-height: 64px;
    font-size: 20px;
  }

  .carousel__dots-container {
    gap: 22px;
    bottom: 34px;
  }

  .carousel__dot {
    width: 10px;
    height: 10px;
  }

  .loading-gif {
    margin: 747px auto;
    width: 128px;
    height: 128px;
  }

  .main__product-container {
    max-width: 1160px;
    margin: 0 auto;
  }

  .product-list {
    padding: 70px 0px 110px 0px;
    column-gap: 40px;
    row-gap: 64px;
    grid-template-columns: repeat(3, 1fr);
  }

  .product-item {
    gap: 10px;
  }

  .product-item__color-container {
    width: 92px;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 10px;
  }

  .product-item__color-grid {
    width: 24px;
    height: 24px;
  }

  .product-item__title,
  .product-item__price {
    font-size: 20px;
    letter-spacing: 4px;
  }
}
